<ion-view title="注册上上">
	<ion-nav-buttons side="right">
        <a class="button button-clear confirm-top-icon" ng-click="doSomething()" href="#">
            登录
        </a>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false" scrollbar-y="false">
    	<div class="list confirm-top">
			<img src="img/register-password.png" width="100%" height="46">
    	</div>
    	<div class="list list-inset confirm-top-content">
			<label class="item item-input"><!-- 加入item-select -->
				<i class="icon ion-lock-combination placeholder-icon"></i>
				<input type="text" placeholder="请输入密码">
				<!-- 假如加入选项
				<select>
					<option selected="">+86</option>
					<option >+7</option>
					<option>+1</option>
				</select> -->
				<!-- <a href="#/country" class="button button-clear" style="color:#808080;letter-spacing:1px;width:110px;">
        			+86 <i class="ion-chevron-right" style="color:#ccc"></i>
      			</a> -->
			</label>
        </div>
        <div class="list list-inset confirm-top-content-two">
			<label class="item item-input">
				<i class="icon ion-lock-combination placeholder-icon"></i>
				<input type="text" placeholder="请再次输入密码">
				<!-- <div side="right" style="width:110px;color:#eabd81;height:25px;border-left:1px solid #d6d6d6;padding-left:11px;font-family:微软雅黑;">
					9 6 5 8
				</div> -->
			</label>
			<p>请保持两次密码输入相同</p>
			<a class="button confirm-button" href="#/login">完成</a>
        </div>
    </ion-content>
</ion-view>