<ion-view title="修改密码">
	<ion-content overflow-scroll="false">
		<div class="list">
			<label class="item item-input item-icon-right securityaccount-item">
				<span class="input-label">邮箱验证：</span>
				<input type="password" placeholder="请输入您的邮箱">
				<i class="icon ion-ios-arrow-right personcenter-icon-right"></i>
	        </label>
	        <label class="item item-input item-icon-right securityaccount-item">
				<span class="input-label">验证码：</span>
				<input type="password" placeholder="请输入验证码">
				<i class="icon ion-ios-arrow-right personcenter-icon-right"></i>
	        </label>
	    </div>
	</ion-content>
</ion-view>