<ion-view view-title="手势密码" name="login-view" hide-nav-bar="true">
	<ion-header-bar class="bar-light">
		<div class="buttons">
			<button class="button button-clear icon button-icon-left ion-ios-arrow-back index-back" ui-sref="tab.securitypw">返回</button>
		</div>  
        <h1 class="title">手势密码</h1>    
    </ion-header-bar>
	<ion-content class="center" overflow-scroll="false">
		<div class="list gesture-top">
			<a>
				<div><img src="{{user.photoUrl}}" ng-if="user.photoUrl != ''" width="100%"><img src="img/default.png" ng-if="user.photoUrl == ''" width="100%"></div>
				<p id="msg">请画出您的密码</p>
			</a>
		</div>
		<div id="lockPattern" class="pattern-holder patt-holder" style="margin:0 auto"></div>
		<div class="gesture-bottom">
			<a ng-click="forgetGes()">忘记手势密码？</a>
		</div>
		<ss-alert for-info="{{alertInfo}}" for-show="{{isShow}}" for-type="{{alertType}}"></ss-alert>
	</ion-content>
</ion-view>