<ion-view hide-nav-bar="true">
	<ion-header-bar class="bar-light">
		<div class="buttons">
			<button class="button button-clear icon button-icon-left ion-ios-arrow-back index-back" ui-sref="processManagelist">返回</button>
		</div>
		<h1 class="title">IT权限录入申请</h1>
	</ion-header-bar>
	<ion-content overflow-scroll="false">
		<div class="list daily-top">
			<label class="item item-input gzrb-item-hbren">
				<span class="input-label">人员姓名：</span>
	            <input type="text" readonly value="于高峰">
			</label>
			<label class="item item-input gzrb-item-hbren">
				<span class="input-label">工号：</span>
				<input type="text" readonly class="light-bg" value="2363">
			</label>
			<label class="item item-input gzrb-item-hbren">
				<span class="input-label">部门：</span>
				<input type="text" readonly class="light-bg" value="电商部">
			</label>
			<label class="item item-input gzrb-item-hbren">
				<span class="input-label">职务：</span>
				<input type="text" readonly class="light-bg" value="UI设计师">
			</label>
			<label class="item item-input gzrb-item-date">
				<span class="input-label">申请日期：</span>
				<input type="text" readonly value="2017/6/22" />
				<div class="daily-item-i-dw"><img src="img/rilihui.png" width="100%"></div>
			</label>
			<label class="item item-input gzrb-item-hbren">
				<span class="input-label">直属领导 or 片区经理：</span>
				<input type="text" readonly class="light-bg" value="3">
			</label>
			<label class="item item-input gzrb-item-hbren">
				<span class="input-label">公司配发手机号：</span>
				<input type="text" readonly class="light-bg" value="2">
			</label>
			<div class="form-group daily-textarea">
				<label for="name">权限需求</label>
				<textarea id="content" class="form-control" rows="5" placeholder="请输入权限需求.."></textarea>
			</div>
		</div>
	</ion-content>
</ion-view>