<ion-view hide-nav-bar="true" title="流程管理">
	<ion-header-bar class="bar-light">
		<div class="buttons">
			<button class="button button-clear icon button-icon-left ion-ios-arrow-back index-back" ui-sref="tab.dash">返回</button>
		</div> 
    	<h1 class="title">流程管理</h1> 
    </ion-header-bar>
	<ion-content overflow-scroll="false">
		<a class="item item-icon-left item-icon-right" href="#/sendProcess">
			<i class="icon setting-two tu-18"><img src="img/renshi.png" ></i>
				<span class="confirm-top-icon">发起流程</span>
				<label class="gjx-icon">简单</label>
			<i class="icon ion-ios-arrow-right personcenter-icon-right"></i>
		</a>
		<a class="item item-icon-left item-icon-right" href="#/ProcessToTreated">
			<i class="icon setting-two tu-18" ><img src="img/xingzheng.png" ></i>
				<span class="confirm-top-icon">待处理流程</span>
				<label class="gjx-icon">高效</label>
			<i class="icon ion-ios-arrow-right personcenter-icon-right"></i>
		</a>
		<a class="item item-icon-left item-icon-right" href="#/processManage">
			<i class="icon setting-two tu-18"><img src="img/caiwu.png"></i>
				<span class="confirm-top-icon">流程管理</span>
				<label class="gjx-icon">快捷</label>
			<i class="icon ion-ios-arrow-right personcenter-icon-right"></i>
		</a>
		<a class="item item-icon-left item-icon-right" href="#/ProcessRecovery"><!-- ui-sref="cardReplacement" -->
			<i class="icon setting-two tu-18"><img src="img/kaoqin.png"></i>
				<span class="confirm-top-icon">流程取回</span>
				<label class="gjx-icon">实用</label>
			<i class="icon ion-ios-arrow-right personcenter-icon-right"></i>
		</a>
		<a class="item item-icon-left item-icon-right" href="#/ViewNotification"><!-- ui-sref="cardReplacement" -->
			<i class="icon setting-two tu-18"><img src="img/kaoqin.png"></i>
				<span class="confirm-top-icon">查看通知</span>
				<label class="gjx-icon">速度</label>
			<i class="icon ion-ios-arrow-right personcenter-icon-right"></i>
		</a>
	<!-- <a class="item item-icon-left item-icon-right" ui-sref="processMgdtail({managename:4})">
			<i class="icon setting-two tu-18"><img src="img/zsk.png" style="width:33px;height: 33px;border-radius: 7px;"></i>
				<span class="confirm-top-icon">生产管理</span>
				<label class="gjx-icon">企业生产系统的设置和运行</label>
			<i class="icon ion-ios-arrow-right personcenter-icon-right"></i>
		</a>
		<a class="item item-icon-left item-icon-right" ui-sref="processMgdtail({managename:5})" >
			<i class="icon setting-two tu-18" style="left: 6px;"><img src="img/xiaoshou.png" style="width:43px;height:42px;"></i>
				<span class="confirm-top-icon">销售管理</span>
				<label class="gjx-icon">企业文化进步的基础</label>
			<i class="icon ion-ios-arrow-right personcenter-icon-right"></i>
		</a>
		<a class="item item-icon-left item-icon-right" ui-sref="processMgdtail({managename:6})" >
			<i class="icon setting-two tu-18" style="left: 6px;"><img src="img/kaoqing.png" style="width:43px;height:42px;"></i>
				<span class="confirm-top-icon">考勤管理</span>
				<label class="gjx-icon">推进企业高效规范的效率</label>
			<i class="icon ion-ios-arrow-right personcenter-icon-right"></i>
		</a> -->
	</ion-content>
</ion-view>