<ion-view hide-nav-bar="true" title="{{codeName}}库存查询">
	<div class="bar bar-header bar-light top_header_All">
		<div class="buttons">
			<button class="button button-clear icon button-icon-left ion-ios-arrow-back index-back" ui-sref="ccjb">返回</button>
			</div> 
    	<h1 class="title">{{codeName}}库存查询</h1> 
    	<div class="buttons">
			<a menu-toggle="right" class="button button-clear" ng-click="toggleright()"><span class="confirm-top-icon">筛选</span> <i class="ion-ios-paw-outline"></i></a> 
			</div> 
    </div>
	<ion-content overflow-scroll="true" class="y-hid">
		<ion-side-menus>
			<ion-side-menu-content>
				<ion-header-bar class="bar-light">
					<div class="buttons">
    					<button class="button button-clear icon button-icon-left ion-ios-arrow-back index-back" ui-sref="ccjb">返回</button>
 					</div> 
		        	<h1 class="title">{{codeName}}库存查询</h1> 
		        	<div class="buttons">
    					<a menu-toggle="right" class="button button-clear" ng-click="toggleright()"><span class="confirm-top-icon">筛选</span> <i class="ion-ios-paw-outline"></i></a> 
 					</div> 
		        </ion-header-bar>
		        <ion-content class="y-hid" overflow-scroll="false">
				<!-- 内容部分 -->
					<ion-refresher
				      pulling-text="下拉刷新..."
				      refreshing-text="正在刷新..."
				      on-refresh="vm.doRefresh()">
				    </ion-refresher>
					<div class="table-responsive">
						<table class="table table-center">
				            <thead>
								<tr class="index-back">
									<th>序号</th>
									<th>产品名称</th>
									<th>钢种</th>
									<th>规格</th>
								</tr>
				            </thead>
				            <tbody id="content">
								<tr class="index-back_table" ng-repeat="message in vm.messages" ng-click="expandDetail($index, message)">
									<td class="xiangdui"><div id="leftsj" class="sanjiao-float"></div><i class="ion-chevron-right cpc-icon"></i>{{$index + 1}}</td>
									<td>{{message.proName}}</td>
									<td>{{message.dSteel}}</td>
									<td>{{message.dSpec}}</td>
								</tr>
				            </tbody>
			          	</table>
			          	<div class="djl-loading" id="loading">
			              <div class="djl-loading-in">
			                <span style="float:left">数据加载中，请稍后...</span>
			                <ion-spinner icon="bubbles" class="spinner-balanced" style="float:left;margin-left:5px;margin-top:-2px"></ion-spinner>
			              </div>
			            </div>
				    </div>
					<ion-infinite-scroll
					  ng-if="!vm.moredata" 
					  on-infinite="vm.loadMore()"
					  icon="ion-loading-c" 
					  distance="1%">
					</ion-infinite-scroll>
		    	</ion-content>
			</ion-side-menu-content>
			<ion-side-menu side="right" width="{{firstName}}">
				<ion-content class="y-hid">
					<div class="list cl-top">筛选</div>
					<div class="panel panel-success djl-one">
						<label class="item item-borderless cpkc">
							<div class="item item-input cpkc-one">
						        <div class="input-label cpkc-font">
						          选择品种
						        </div>
						        <input type="text" id="dSteel" >
					      	</div>
						</label>
						<label class="item item-borderless cpkc-two">
							<div class="item item-input cpkc-one">
						        <div class="input-label cpkc-font">
						          产品规格
						        </div>
						        <input type="text" id="dSpec">
					      	</div>
						</label>
						<label class="item item-borderless cpkc-three">
							<div class="item item-input cpkc-one">
						        <div class="input-label cpkc-font">
						          库位编号
						        </div>
						        <input type="text" id="bin">
					      	</div>
						</label>
						<div class="sctz-bottom-one"><a class="btn btn-primary btn-block" ng-click="searchManager(true)">搜索</a></div>
					</div>
					<div class="table sctz-table" id="dataStat" style="display:none">
					    <table class="table table-bordered sctz-one">
					        <tr><td colspan="2" class="sctz-two">产品库存数据统计</td></tr>
					        <tr>
					            <td>钢种+规格+库位编号</td>
					            <td>{{dSteel}} + {{dSpec}} + {{bin}}</td>
					        </tr>
					        <tr>
					            <td>总重量</td>
					            <td>{{totalWeight}} t</td>
					        </tr>
					        <tr>
					            <td>总支数</td>
					            <td>{{totalQuantity}} 支</td>
					        </tr>
					    </table>
					</div>	
				</ion-content>
			</ion-side-menu>
		</ion-side-menus>
	</ion-content>
</ion-view>
