<ion-view title="本月成品数据统计" hide-nav-bar="true">
	<ion-header-bar class="bar-light">
		<div class="buttons">
			<button class="button button-clear icon button-icon-left ion-ios-arrow-back index-back" ui-sref="tab.cpcx">返回</button>
		</div> 
    	<h1 class="title">本月成品数据统计</h1> 
    </ion-header-bar>
	<ion-content overflow-scroll="false">
		<div id="chartPage">
			<div class="list djl-width">
				<div class="ygtz-width-one"><img src="img/chengpin.png"></div>
				<div class="cpc-tjb">
					<div class="cpc-tjb-one"></div><div class="visit-looking-data">总重量</div>
					<div class="cpc-tjb-two"></div><div class="visit-looking-data">总支数</div>
				</div>
			</div>
			<!-- <div class="djl-loading" id="loading">
			  <div class="djl-loading-in">
				<span style="float:left">数据加载中，请稍后...</span>
				<ion-spinner icon="bubbles" class="spinner-balanced" style="float:left;margin-left:5px;margin-top:-2px"></ion-spinner>
			  </div>
			</div> -->
			<div id="container" style="width:100%;height:300px;"></div>
			<div class="cpcx">
	     		<ul>
			        <li class="cpcx-one">&nbsp;</li>
			        <li class="cpcx-two">总重量</li>
			        <li class="cpcx-three">总支数</li>
			        <li class="cpcx-one"></li>
			        <li class="cpcx-four"></li>
	     		</ul>
			</div>
		</div>
	</ion-content>
</ion-view>