<ion-view hide-nav-bar="true">
    <ion-content overflow-scroll="false" scrollbar-y="false" class="box-show">
        <ion-slide-box  show-pager="false">  
            <ion-slide>  
                <div class="box div-login"><img src="img/show1.png"></div>  
            </ion-slide>  
            <ion-slide>  
                <div class="box div-login"><img src="img/show2.png"></div>  
            </ion-slide>
            <ion-slide>  
                <div class="box div-login" style="position:relative"><img src="img/show3.png"><div class="div-login-in"><img src="img/show-button.png" ng-click="login()"></div></div>  
            </ion-slide>   
        </ion-slide-box>
    </ion-content>
</ion-view>