
<ion-view hide-nav-bar="true" title="计算器">
	<ion-header-bar class="bar-light">
		<div class="buttons">
			<button class="button button-clear icon button-icon-left ion-ios-arrow-back index-back" ui-sref="gjx">返回</button>
		</div>
    	<h1 class="title">计算器</h1>
    </ion-header-bar>
	<ion-content overflow-scroll="false">
		<a class="item item-icon-left item-icon-right" href="#/bxgg/1" >
			<i class="icon setting-two tu-18"><img src="img/gscx.png"></i>
				<span class="confirm-top-icon">不锈钢管计算器</span>
			<i class="icon ion-ios-arrow-right personcenter-icon-right"></i>
		</a>
		<a class="item item-icon-left item-icon-right" href="#/bxgg/2" >
			<i class="icon setting-two tu-18"><img src="img/zlyy.png"></i>
				<span class="confirm-top-icon">不锈钢板材计算器</span>
			<i class="icon ion-ios-arrow-right personcenter-icon-right"></i>
		</a>
		<a class="item item-icon-left item-icon-right" href="#/bxgg/3">
			<i class="icon setting-two tu-18"><img src="img/ddfh.png"></i>
				<span class="confirm-top-icon">不锈钢圆钢计算器</span>
			<i class="icon ion-ios-arrow-right personcenter-icon-right"></i>
		</a>
	</ion-content>
</ion-view>

