<ion-view title="知识库" hide-nav-bar="true">
	<ion-header-bar class="bar-light">
		<div class="buttons">
			<button class="button button-clear icon button-icon-left ion-ios-arrow-back index-back" ui-sref="tab.dash">返回</button>
		</div>  
        <h1 class="title">知识库</h1>    
    </ion-header-bar>
	<ion-content overflow-scroll="false">
		<div class="list">
	        <div class="item item-input-inset zsk-top item-borderless">
				<label class="item-input-wrapper visit-today-input visit-history">
					<i class="icon ion-search placeholder-icon"></i><span class="personcenter-icon-right">|</span>
					<input type="text" ng-model="$parent.searchText" placeholder="搜索">
	          	</label>
				<button class="button button-small visit-history" ng-click="searchInVisit()" style="height:22px;margin-top:-3px;">
					搜索
				</button>
	        </div>
      	</div>
		<div class="list zsk-content">
			<div class="zsk-left"><img src="img/wjj.png" width="45"></div>
			<a href="#/tab/gszsk" class="dark" style="display:block;">
				<div class="panel panel-default zsk-right">
					<div class="panel-body zsk-right-content">
						部门知识库
						<i class="ion-chevron-right zsk-color-i"></i>
					</div>
				</div>
			</a>
		</div>
		<div class="list zsk-content">
			<div class="zsk-left"><img src="img/wjj.png" width="45"></div>
			<a href="#/tab/lbzsk" class="dark" style="display:block;">
				<div class="panel panel-default zsk-right">
					<div class="panel-body zsk-right-content">
						类别知识库
						<i class="ion-chevron-right zsk-color-i"></i>
					</div>
				</div>
			</a>
		</div>
	</ion-content>
</ion-view>