<ion-view title="平台信息详情" hide-nav-bar="true">
    <ion-header-bar class="bar-light">
        <div class="buttons">
            <button class="button button-clear icon button-icon-left ion-ios-arrow-back index-back" ng-click="back()">返回</button>
        </div> 
        <h1 class="title">平台信息详情</h1> 
    </ion-header-bar>
    <ion-content overflow-scroll="true">
        <div class="wsq-content">

            <!-- 头部 -->
            <div class="wsq-content_top">
                <div class="list wsq-content-top">
                    <div class="wsq-content-top-right ptsj-top">
                        <p>{{data.title}}</p>
                        <p style="margin-bottom:10px;margin-top:-3px;">上上德盛集团<i>{{data.createdate | limitTo:19}}</i></p>
                    </div>
                </div>
            </div>

            <!-- 内容 -->
            <div class="wsq-content_content">
                <div class="wsq-content_font_all" ng-bind-html="content"></div>
            </div>
                   
            <!-- 分隔 -->
            <div class="wsq-content_separate"></div>
            <!-- 评论 -->
            <div class="wsq-comment-find">全部评论<span>{{replyLength}}</span></div>
            <div class="wsq-comment" id="qiangshafa" style="display:none;margin:0px;">
                <div class="wsq-comment-img" >
                    <img src="img/qiangshafa.png"><br />
                    <p>还没有人发表评论，快来<span ng-click="setReplyId(0,0)">抢占沙发</span></p>
                </div>
            </div>
            <div class="wsq-comment" ng-repeat="reply in dataReplyArr[0]">
                <div class="wsq-content_top" style="margin-top:3%;">
                    <div class="list wsq-content-top">
                        <div class="wsq-content-top-left">
                            <img ng-if="reply.user.photoUrl == ''" src="img/default.png" alt="头像">
                            <img ng-if="reply.user.photoUrl != ''" ng-src="{{reply.user.photoUrl}}" alt="头像">
                        </div>
                        <a class="dark">
                            <div class="wsq-content-top-right">
                                <div class="panel-body">
                                    {{reply.user.userName}}<i class="balanced" am-time-ago="reply.createdate"></i>
                                    <br/>
                                    <span>{{reply.user.position.positionName}}</span>
                                    <!-- <i>{{topic.createdate}}</i> -->
                                    <i class="iconfont icon-xiaoxi-zan" ng-click="setReplyId(reply, reply.id)"></i>
                                    <i style="background:#fff" ng-class="{true: 'iconfont icon-zan-1', false: 'iconfont icon-zan-'}[checkVote(reply.id)]" id="heart{{reply.id}}" ng-click="addVote(reply.id)"><div class="wsq_jia_none">+1</div></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- 内容 -->
                <div class="wsq-content_content">
                    <div class="wsq-content_font" ng-bind-html="reply.content"></div>
                    <div class="wsq-content_font_p" ng-repeat="subReply in getArr(reply.id)" ng-click="setReplyId(subReply, reply.id)">
                        <span>{{subReply.user.userName}}：@{{subReply.parentReply.user.userName}}</span><span style="color:#000;" ng-bind-html="subReply.content"></span>
                    </div>
                </div>
            </div>     
        </div>
	</ion-content>
    <div class="common-bg" ng-click="hideComment()"></div>
    <!-- 评论窗口 -->
    <div class="communy-fix">
        <textarea rows="3" id="saytext" ng-click="removeHeight()"></textarea>
        <i class="icon ion-happy-outline emotion" ng-click="changeHeight()"></i>
        <a class="button button-small button-positive" ng-click="addReply(replyId)">发表评论</a>
    </div>
    <div class="wsq-bottom-all">
        <div class="wsq-bottom-all_left">
            <div class="wsq-bottom-all_left_in">
                <i class="icon ion-edit placeholder-icon"></i>
                <input type="text" placeholder="请写下您的评论..." readonly ng-click="setReplyId(0,0)">
            </div>
        </div>
        <div class="wsq-bottom-all_right">
            <button class="button button-small iconfont icon-zan-" ng-class="{true: 'button button-small iconfont icon-zan-1', false: 'button button-small iconfont icon-zan-'}[checkVote('data' + dataId)]" id="heartdata{{dataId}}" ng-click="addVote('data' + dataId)"><div class="wsq_jia_none">+1</div></button>
            <button class="button button-small iconfont icon-xiaoxi-zan" ng-click="setReplyId(0,0)"></button>
            <button class="button button-small iconfont icon-fenxiang-"></button>
        </div>
    </div>
    <ss-alert for-info="{{alertInfo}}" for-show="{{isShow}}" for-type="{{alertType}}"></ss-alert>
</ion-view>