<ion-view title="出差报告" hide-nav-bar="true">
	<ion-header-bar class="bar-light">
		<div class="buttons">
			<button class="button button-clear icon button-icon-left ion-ios-arrow-back index-back" ui-sref="tab.dash">返回</button>
		</div>
		<h1 class="title">文件</h1>
		<div class="buttons">
		
			<button class="button button-clear  index-back iconfont icon-shangchuan ">
			</button>
				<button class="button button-clear icon button-icon-left index-back" ng-click="addReport()">发送</button>
		</div> 
	</ion-header-bar>
	<ion-content scroll="false"  overflow-scroll="false">
		<tab-slide-box class="email_tabs tabbed-slidebox lhb-tabs " tab="0">
           <div class="tsb-icons">
				<div class="tsb-ic-wrp">
					<ion-scroll class="tsb-hscroll" style="overflow-y:hidden;height:44px; width:100%">
						<a href="javascript:;"  class="active" style="margin:0 12%;">文档</a>
						<a href="javascript:;" style="margin:0 12%;">音频</a>
						<a href="javascript:;" style="margin:0 12%;">压缩包</a>
					</ion-scroll>	
				</div>
           </div>
           <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">             
                       <ion-slide>
                       		 	<div class="txfile_doc list" overflow-scroll="true" ng-style="myObj">
							          <ion-checkbox class="bgdoc">
							             <p>
							             文案资料.doc
							             	<br>
							             	<span>王鹏翔</span>
							             	<time>今天 11:00</time>
							             	<i>30KB</i>
							             </p>
							          </ion-checkbox>
							          <ion-checkbox class="bgdoc">
							             <p>
							             文案资料.doc
							             	<br>
							             	<span>王鹏翔</span>
							             	<time>今天 11:00</time>
							             	<i>30KB</i>
							             </p>
							          </ion-checkbox>
							           <ion-checkbox class="bgdoc">
							             <p>
							             文案资料.doc
							             	<br>
							             	<span>王鹏翔</span>
							             	<time>今天 11:00</time>
							             	<i>30KB</i>
							             </p>
							          </ion-checkbox>
							           <ion-checkbox class="bgdoc">
							             <p>
							             文案资料.doc
							             	<br>
							             	<span>王鹏翔</span>
							             	<time>今天 11:00</time>
							             	<i>30KB</i>
							             </p>
							          </ion-checkbox>
							           <ion-checkbox class="bgdoc">
							             <p>
							             文案资料.doc
							             	<br>
							             	<span>王鹏翔</span>
							             	<time>今天 11:00</time>
							             	<i>30KB</i>
							             </p>
							          </ion-checkbox>
							           <ion-checkbox class="bgdoc">
							             <p>
							             文案资料.doc
							             	<br>
							             	<span>王鹏翔</span>
							             	<time>今天 11:00</time>
							             	<i>30KB</i>
							             </p>
							          </ion-checkbox>
							           <ion-checkbox class="bgdoc">
							             <p>
							             文案资料.doc
							             	<br>
							             	<span>王鹏翔</span>
							             	<time>今天 11:00</time>
							             	<i>30KB</i>
							             </p>
							          </ion-checkbox>
							           <ion-checkbox class="bgdoc">
							             <p>
							             文案资料.doc
							             	<br>
							             	<span>王鹏翔</span>
							             	<time>今天 11:00</time>
							             	<i>30KB</i>
							             </p>
							          </ion-checkbox>
							           <ion-checkbox class="bgdoc">
							             <p>
							             文案资料.doc
							             	<br>
							             	<span>王鹏翔</span>
							             	<time>今天 11:00</time>
							             	<i>30KB</i>
							             </p>
							          </ion-checkbox>
							           <ion-checkbox class="bgdoc">
							             <p>
							             文案资料.doc
							             	<br>
							             	<span>王鹏翔</span>
							             	<time>今天 11:00</time>
							             	<i>30KB</i>
							             </p>
							          </ion-checkbox>
							           <ion-checkbox class="bgdoc">
							             <p>
							             文案资料.doc
							             	<br>
							             	<span>王鹏翔</span>
							             	<time>今天 11:00</time>
							             	<i>30KB</i>
							             </p>
							          </ion-checkbox>
							           <ion-checkbox class="bgdoc">
							             <p>
							             文案资料.doc
							             	<br>
							             	<span>王鹏翔</span>
							             	<time>今天 11:00</time>
							             	<i>30KB</i>
							             </p>
							          </ion-checkbox>
							           <ion-checkbox class="bgdoc">
							             <p>
							             文案资料.doc
							             	<br>
							             	<span>王鹏翔</span>
							             	<time>今天 11:00</time>
							             	<i>30KB</i>
							             </p>
							          </ion-checkbox>
							           <ion-checkbox class="bgdoc">
							             <p>
							             文案资料.doc
							             	<br>
							             	<span>王鹏翔</span>
							             	<time>今天 11:00</time>
							             	<i>30KB</i>
							             </p>
							          </ion-checkbox>
							           <ion-checkbox class="bgdoc">
							             <p>
							             文案资料.doc
							             	<br>
							             	<span>王鹏翔</span>
							             	<time>今天 11:00</time>
							             	<i>30KB</i>
							             </p>
							          </ion-checkbox>
							           <ion-checkbox class="bgdoc">
							             <p>
							             文案资料.doc
							             	<br>
							             	<span>王鹏翔</span>
							             	<time>今天 11:00</time>
							             	<i>30KB</i>
							             </p>
							          </ion-checkbox>
       					        </div>	
       				    </ion-slide>	
       				    <ion-slide>
                       		 <div class="txfile_doc list" overflow-scroll="true" ng-style="myObj">overflow-scroll="true" ng-style="myObj"
						           <ion-checkbox class="bgvideo">
						             <p>
						             文案资料.mp3
						             	<br>
						             	<span>王鹏翔</span>
						             	<time>今天 11:00</time>
						             	<i>30KB</i>
						             </p>
						          </ion-checkbox>
       						</div> 
       				    </ion-slide>	 
       				    <ion-slide>
                       		 <div class="txfile_doc list" overflow-scroll="true" ng-style="myObj">
						          <ion-checkbox class="bgzip">
						             <p>
						             文案资料.zip
						             	<br>
						             	<span>王鹏翔</span>
						             	<time>今天 11:00</time>
						             	<i>30KB</i>
						             </p>
						          </ion-checkbox>
       						</div> 
       				   </ion-slide>	                                                                 
        	</ion-slide-box>
		</tab-slide-box>		
	</ion-content>
</ion-view>