<ion-view title="通讯录" hide-nav-bar="true">
	<ion-header-bar class="bar-light">
      	<div class="buttons">
          	<button class="button button-clear icon button-icon-left ion-ios-arrow-back index-back" ui-sref="tab.dash">返回</button>
      	</div> 
      	<h1 class="title">通讯录</h1> 
    </ion-header-bar>
  	<div id="letter"></div>
  	<div class="initials">
		<ul>
			<li></li>
		</ul>
	</div>
	<ion-content overflow-scroll="true">
		<div class="sort_box">
			<div class="sort_box" id="userHTML"></div>	
		</div>
	</ion-content>
</ion-view>