<ion-view title="今日拜访" hide-nav-bar="true">
	<ion-header-bar class="bar-light">
      	<div class="buttons">
          	<button class="button button-clear icon button-icon-left ion-ios-arrow-back index-back" ui-sref="tab.visit">返回</button>
      	</div> 
      	<h1 class="title">今日拜访</h1> 
      	<div class="buttons">
      		<button class="button button-clear index-back" ui-sref="tab.visit-today-add">添加拜访</button>
          	<!-- <button class="button icon ion-ios-plus-outline button-clear dropdown-toggle visit-top-button" ng-click="doSomething()" id="dropdownMenu1" style="width:110px" data-toggle="dropdown">	
	       	</button>
	        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="#/tab/visit-today-add" class="color-999">添加拜访</a>
				</li>
			</ul> -->
      	</div> 
    </ion-header-bar>
	<ion-content overflow-scroll="false">
		<div class="list">
			<img src="img/visit.png" width="60%" class="visit-today-img">
			<p class="visit-today-p">今日无拜访计划！<br />赶紧添加拜访吧！</p>
		</div>
	</ion-content>
</ion-view>