<ion-view title="回访记录查看" hide-nav-bar="true">
	<ion-header-bar class="bar-light">
      	<div class="buttons">
          	<button class="button button-clear icon button-icon-left ion-ios-arrow-back index-back" ng-click="back()">返回</button>
      	</div> 
      	<h1 class="title">回访记录查看</h1> 
    </ion-header-bar>
	<ion-content overflow-scroll="false" class="daily-content" style="margin-top:-2px;">
      <div class="list list-inset daily-top gzhb-line-color" style="padding:0px 15px 16px 15px;">
      		<label class="item item-input gzhb-line-color">
				<span class="input-label khtj-left">客户名称：<span></span></span>
				<input type="text" readonly="readonly" class="light-bg" value="{{visitRecord.customer.customerName}}">
			</label>
			<label class="item item-input gzhb-line-color">
				<span class="input-label khtj-left">回访日期：<span></span></span>
				<input type="text" readonly="readonly" class="light-bg" value="{{visitRecord.specVisitTime | limitTo:10}}">
			</label>
			<label class="item item-input gzhb-line-color">
				<span class="input-label khtj-left">创建日期：<span></span></span>
				<input type="text" readonly="readonly" class="light-bg" value="{{visitRecord.createdate | limitTo:19}}">
			</label>
			<form role="form">
			<div class="form-group daily-textarea">
				<label for="name" class="khtj-left" style="font-size:16px;">内容</label>
				<textarea readonly="readonly" style="background: rgb(255, 255, 255);border:1px solid #d9d9d9; width:100%;margin:0px;" id="content" class="form-control gzhb-line-color" rows="5" ng-model="visitRecord.content" placeholder="请输入内容.."></textarea>
			</div>
			</form>
		</div>
	</ion-content>
</ion-view>