<ion-view title="添加群聊" hide-nav-bar="true">
	<ion-header-bar class="bar-light">
      	<div class="buttons">
          	<button class="button button-clear icon button-icon-left ion-ios-arrow-back index-back">返回</button>
      	</div> 
      	<h1 class="title">邀请好友</h1>
      	<div class="buttons">
      		<button class="button button-clear icon button-icon-left index-back">确定</button>
        </div> 
    </ion-header-bar>
	<ion-content overflow-scroll="true">
	    <div style="height:10px;background:transparent;"></div>
		<div class="list list-inset addfriend_list" style="margin-bottom:10px;">
			<label class="item item-input" style="padding:0px;background:#EEEEEE;">
				<i class="icon ion-search placeholder-icon" style="padding-left:6px;"></i>
				<input type="text" placeholder="搜索好友" >
			</label>
		</div>
		<div class="out_selcet" ng-style="myObj1" overflow-scroll="true">
		 	<div class="list_txl_person">
				<div class="list_english" ng-repeat="ix in lister track by $index">
					<div class="list_arry" id="#txl_{{ix}}">{{ix}}</div>
					<ion-checkbox class="addGroupc_list_pad" ng-repeat="ixx in obj[ix] track by $index">
						<img src="img/images/touxiang@2x.png" alt="">
						<span>{{ixx}}</span>
					</ion-checkbox>
				</div>
		 	</div>
		 	<div class="slide_list" ng-style="tops">
				<ul>
					<li>A</li>
					<li>B</li>
					<li>C</li>
					<li>D</li>
					<li>E</li>
					<li>F</li>
					<li>G</li>
					<li>H</li>
					<li>I</li>
					<li>J</li>
					<li>K</li>
					<li>L</li>
					<li>M</li>
					<li>N</li>
					<li>O</li>
					<li>P</li>
					<li>Q</li>
					<li>R</li>
					<li>S</li>
					<li>T</li>
					<li>U</li>
					<li>V</li>
					<li>W</li>
					<li>X</li>
					<li>Y</li>
					<li>Z</li>
				</ul>
			</div>
			<div class="fixed-con"></div>
		</div>
	</ion-content>
</ion-view>