<ion-view title="搜索" hide-nav-bar="true">
	<ion-header-bar class="bar-light">
	<div class="conter_out">
		<input type="text" placeholder="搜索" id="head_ss" />
		<i class="iconfont icon-search"></i>
	</div>	
		<div class="buttons" style="margin-left: 5%;">
				<button class="button button-clear icon button-icon-left index-back" ng-click="addReport()" style="color:#3D81F2;">取消
				</button>
		</div> 
	</ion-header-bar>
	<ion-content>
		<div class="sousou_content">
			<div class="sousou_content_left">
			  	<a href="javascript:;"><i class="iconfont icon-tupian1"></i><br>图片</a>
			</div>
			<div class="sousou_content_right">
				<a href="javascript:;"><i class="iconfont icon-wenjian-1"></i><br>文件</a>
			</div>
		</div>
	</ion-content>
</ion-view>