<ion-view hide-nav-bar="true" title="选择职能">
	<ion-header-bar class="bar-light">
		<div class="buttons">
            <a class="button button-clear" ng-click="doSomething()" href="#/my/gslxr"> 
                取消
            </a> 
        </div> 
		<h1 class="title">选择职能</h1>
		<div class="buttons">
            <a class="button button-clear" ng-click="doSomething()" href="#/my/gslxr"> 
                确定
            </a> 
        </div>
	</ion-header-bar>
	<ion-content overflow-scroll="false">
		<div class="list my_gslxr_place" id="place">
	        <label class="item item-radio active">
				<input type="radio" name="group" value="go">
				<div class="item-content">
					业主/开发商
				</div>
				<i class="radio-icon ion-ios-checkmark-empty"></i>
    		</label>
    		<label class="item item-radio">
				<input type="radio" name="group" value="go">
				<div class="item-content">
					设计师
				</div>
				<i class="radio-icon ion-ios-checkmark-empty"></i>
    		</label>
		</div>
		<div id="PlaceIn">
			<div class="list my_gslxr_place_right">
		        <label class="item item-radio">
					<input type="radio" name="group" value="go">
					<div class="item-content">
						政府负责
					</div>
					<i class="radio-icon ion-ios-checkmark-empty"></i>
	    		</label>
	    		<label class="item item-radio">
					<input type="radio" name="group" value="go">
					<div class="item-content">
						业主
					</div>
					<i class="radio-icon ion-ios-checkmark-empty"></i>
	    		</label>
			</div>
			<div class="list my_gslxr_place_right" style="display:none">
		        <label class="item item-radio">
					<input type="radio" name="group" value="go">
					<div class="item-content">
						长春市
					</div>
					<i class="radio-icon ion-ios-checkmark-empty"></i>
	    		</label>
	    		<label class="item item-radio">
					<input type="radio" name="group" value="go">
					<div class="item-content">
						发展商
					</div>
					<i class="radio-icon ion-ios-checkmark-empty"></i>
	    		</label>
	    		<label class="item item-radio">
					<input type="radio" name="group" value="go">
					<div class="item-content">
						招标代理机构
					</div>
					<i class="radio-icon ion-ios-checkmark-empty"></i>
	    		</label>
	    		<label class="item item-radio">
					<input type="radio" name="group" value="go">
					<div class="item-content">
						酒店管理公司
					</div>
					<i class="radio-icon ion-ios-checkmark-empty"></i>
	    		</label>
	    		<label class="item item-radio">
					<input type="radio" name="group" value="go">
					<div class="item-content">
						投资商
					</div>
					<i class="radio-icon ion-ios-checkmark-empty"></i>
	    		</label>
			</div>
		</div>
	</ion-content>
</ion-view>