<ion-view title="高级搜索" hide-nav-bar="true">
	<ion-header-bar class="bar-light">
		<div class="buttons">
			<button class="button button-clear icon button-icon-left ion-ios-arrow-back index-back" ui-sref="tab.dash">返回</button>
	    </div>
		 <h1 class="title">高级搜索</h1> 
	</ion-header-bar>
	<ion-content overflow-scroll="false" class="stable-bg">
		<div class="list khxl-content gcxx_xmxq margin_top_10 my_company" style="margin-top:-1px;">
			<label class="item item-input gzhb-line-color">
				<span class="input-label khtj-left">工程名称：</span>
				<input type="text" ng-model="searchDTO.projectName" placeholder="请输入工程名称">
			</label>
			<div class="item item-input item-select gzhb-line-color" ng-click="selectAddress(3)">
				<span class="input-label khtj-left">所在省份/城市：</span>
				<input type="text" readonly class="background_none" ng-model="projectAddress" placeholder="请选择所在省份/城市" />
			</div>
			<!-- <label class="item item-input gzhb-line-color">
				<span class="input-label khtj-left">工程地址：</span>
				<input type="text" placeholder="请输入">
			</label> -->
			<label class="item item-input item-select gzhb-line-color">
				<span class="input-label khtj-left">项目阶段：</span>
				<!-- <input type="text" ng-model="searchDTO.projectStage" placeholder="请选择" /> -->
				<input type="text" id="projectStage_dummy" class="background_white" placeholder="请选择项目阶段">
		        <select name="projectStage" id="projectStage" ng-model='projectStage'>
		        	<option></option>
					<option>未确定</option>
					<option>构思中</option>
					<option>设计中</option>
					<option>文体革议</option>
					<option>施工单位招标</option>
					<option>截标后</option>
					<option>文体工程申标</option>
					<option>开工</option>
					<option>其他</option>
		        </select>
			</label>
			<label class="item item-input item-select gzhb-line-color" style="border-bottom:1px solid #d9d9d9!important;">
				<span class="input-label khtj-left">项目类别：</span>
				<!-- <input type="text" ng-model="searchDTO.type" placeholder="请选择" /> -->
				<input type="text" id="type_dummy" class="background_white" placeholder="请选择项目类别">
		        <select name="type" id="type" ng-model='type'>
		        	<option></option>
					<option>石油/石化/海油领域</option>
					<option>锅炉热交换器领域</option>
					<option>海洋工程领域</option>
					<option>高铁领域</option>
					<option>航空/航天领域</option>
					<option>食品/制药领域</option>
					<option>环保/新能源领域</option>
					<option>纸浆/造纸领域</option>
					<option>城市规划领域</option>
					<option>其它领域</option>
		        </select>
			</label>
			<!-- <a class="item item-input gzhb-line-color" href="#/gslxr-place">
				<span class="input-label khtj-left">预计采购设备/工程概况：</span>
				<input type="text" placeholder="请输入" />
			            	<input type="hidden" />
			</a> -->
		</div>
		<div class="sctz-bottom" ng-click="searchByDTO()"><a class="button button-positive button-small btn-block" >搜索</a></div>
		<div class="sctz-bottom my_company_button_t" ng-click="reset()"><a class="button button-light button-small btn-block">重置</a></div>
	</ion-content>
</ion-view>